:root {
  --pink-10: #e7cdce;
  --pink-20: #eaa8ac;
  --pink-50: #e1848c;
  --pink-70: #d05d65;
  --pink-100: #c00645;
  --medium: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sriracha', cursive;
}

html {
  background-image: linear-gradient(var(--pink-70), var(--pink-50));
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 100svh;
  padding-bottom: 50px;
}

body>*+* {
  margin-top: var(--medium);
}


h1 {
  font-size: 80px;
  color: var(--pink-10);
  word-break: keep-all;
}


#yes>.button-82-edge {
  background: linear-gradient(to left,
      hsl(135, 100%, 20%) 0%,
      hsl(135, 100%, 30%) 8%,
      hsl(135, 100%, 30%) 92%,
      hsl(135, 100%, 20%) 100%);
}

#yes>.button-82-front {
  background-color: hsl(140, 100%, 40%);
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%);
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 2rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .button-82-front {
    font-size: 1.75rem;
    padding: 12px 42px;
  }
}